.btn_one{
    display: inline-block;
}

.action_btn{
    width: 40%;
    padding: 5px;
    margin: 5px;
}

.action{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}